body {
    color: white;
    font-family: Arial;
    background-image: url("Nioh.png");
    background-size: cover;
    background-attachment: fixed;
}

th {
    font-size: 200%;
    padding: 6px;
}

table {
    border: solid;
    width: 100%;
}

td {
    border: solid;
}

button {
    background-color: black;
    color: white;
    border: solid 2px;
}
