body {
    color: white;
    background-color: black;
    font-family: Amiri;
}

.rules {
    font-size: 150%;
    display: table;
    border-color: white;
    border-style: solid;
    padding: 5px;
    position: relative;
    left: 23%;
    width: 55%;
}

.start-game {
    padding: 30px;
}

.start-button {
    position: relative;
    left: 41%;
    width: 300px;
    height: 200px;
    font-size: 200%;
}

.score {
    display: none;
    font-size: 200%;
}

#question-text1 {
    font-size: 150%;
    display: none;
    border-color: white;
    border-style: solid;
    padding: 5px;
    position: relative;
    left: 47%;
    width: 55%;
}

#question-text2 {
    font-size: 150%;
    display: none;
    border-color: white;
    border-style: solid;
    padding: 5px;
    position: relative;
    left: 43%;
    width: 55%;
}

.options {
    display: none;
    position: relative;
    left: 26%;
    top: 125px;
}

.button {
    left: 10%;
    width: 400px;
    height: 200px;
    top: 150px;
    font-size: 125%;
}

.button:disabled {
    background-color: white;
    color: black;
}

.firstButtons {
    padding: 5px;
}

.secondButtons {
    position: relative;
    left: 3px;
}

#countdown {
    position: relative;
    margin: auto;
    margin-top: 100px;
    height: 40px;
    width: 40px;
    text-align: center;
    display: none;
}

#countdown-number {
    position: absolute;
    font-size: 200%;
    color: white;
    display: inline-block;
    line-height: 500px;
    left: 1600%;
    bottom: 812%;
    text-align: center;
}

svg {
    position: absolute;
    bottom: 1300%;
    left: 1400%;
    width: 150px;
    height: 150px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

svg circle {
    stroke-dasharray: 314px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: white;
    fill: none;
    animation: none;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 314px;
    }
}
